.address {
	background-color: #336799;
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__map {
		width: 50%;
		height: 300px;
	}
	&__info {
		width: 40%;
		display: flex;
		justify-content: space-between;
		justify-content: center;
	}
	&__description {
		margin: 0;
		color: #fff;
		font-size: 18px;
	}
	&__phone {
		text-align: left;
		margin: 0;
		color: #fff;
		margin: 10px 0 10px 0 ;
	}
	&__phone-link{
		color: #fff;

	}
	&__form {
		width: 100%;
		margin: 0;
		padding: 0;
		&__input-txt{
			width: 100%;
			border-radius: 5px;
			padding: 10px;
		}
		&__input-txt + &__input-txt {
			margin: 10px 0;
		}
		&__textarea {
			padding: 10px;
			width: 100%;
			height: 100px;
			resize: none;
		}
		&__btn {
			background-color: #013578;
			color: #fff;
			width: 150px;
			cursor: pointer;
			padding: 10px;
			border-radius: 5px;
		}
		&__btn:hover {
			background-color: #336799;
			border: 1px solid #013578;
			transition: all 1s;
			box-shadow: 0 0 5px #fff;
		}
	}
	&__info-item {
		margin-top: auto;
	}
	&__ornament{
		width: 5%;
		height: 240px;
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__ornament-img {
		width: 90px;
		transform: rotate(90deg);
margin-top: 20px;
	}
}
// Устройства (меньше чем 1400px)
// @media (max-width: 1399.98px) { ... }

// // Устройства (меньше чем 1200px)
// @media (max-width: 1199.98px) { ... }

// // Устройства (меньше чем 992px)
// @media (max-width: 991.98px) { ... }

// // Устройства (меньше чем 768px)
// @media (max-width: 767.98px) { ... }
 
// Маленькие устройства (меньше чем 576px)
// @media (max-width: 575.98px) { 
	
//  }
