.footer {
	background-color: #033574;
	&__ornaments {
		display: flex;
		justify-content: space-between;
	}
	&__ornaments-main-img {
		width: 170px;
	}
	&__ornaments-img {
		width: 140px;
		margin: 0;
	}
	&__ornaments-part1 {
		width: 35%;
		display: flex;
		justify-content: space-between;
	}
	&__ornaments-part2 {
		width: 35%;
		display: flex;
		justify-content: space-between;
	}
	&__menus {
		display: flex;
		padding: 20px 0 0;
	}
	&__menu {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 150px;
		width: 70%;
		&__item {
			color: #fff;
			margin: 0;
		}
		&__link {
			color: #95BAE7;
			text-decoration: none;
			font-size: 24px;
		}
		&__link:hover {
			color: #fff;
			transition: all .5s ;
		}
	}
	&__icons {
		display: flex;
		width: 20%;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__icons-descr {
		width: 100%;
		color: #95BAE7;
		font-size: 24px;
		font-weight: bold;
		margin: 0;
		padding: 0;
	}
	&__fab {
		color: #95BAE7;
		font-size: 30px;
		transition: all 0.5s;
		
		&:hover {
			color: #fff;
		}
	}
}
.copywrite {
	background-color: #336799;
	color: #95BAE7;
	&__txt {
		font-size: 24px;
		margin: 0;
		text-transform: capitalize;
		text-align: center;
	}
}
